{% extends 'base.html.twig' %}

{% block body %}
    <h1>Patient creation</h1>
    <div class="grid-container">

        {{ form_start(form) }}
        
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="button primary" />
       
        {{ form_end(form) }}

        <a class="button success" href="{{ path('patient_index') }}">Back to the list</a>
        
    </div>    
{% endblock %}
